<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px auto;
            max-width: 800px;
            line-height: 1.6;
            background-color: #f9f9f9;
            padding: 20px;
            color: #333;
        }
        h1, h2 {
            color: #446d88;
        }
        a {
            color: #0077cc;
        }
    </style>
</head>

<body>

    <header>
        <h1>Welcome to My Personal Website</h1>
        <p>This is a brief introduction about me.</p>
    </header>

    <section>
        <h2>About Me</h2>
        <p>Hi! I'm gaurav. I'm passionate about cloud computing. Here's a bit more about my background and what I do...</p>
    </section>

    <section>
        <h2>My Work</h2>
        <p>I've worked on a range of projects. You can view some of my projects on github</p>
    </section>

    <section>
        <h2>Contact</h2>
        <p>Want to get in touch? You can reach me at <a href="mailto:gaurav.choudhary@iiitg.ac.in">gaurav.choudhary@iiitg.ac.in</a>.</p>
    </section>

    <footer>
        <p>Thank you for visiting my website! </p>
    </footer>

</body>

</html>
